.generate-columns(7);

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .delay-@{i} {
        -webkit-animation-duration: (@i) + 0s;
        animation-duration: (@i) + 0s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: (@i / 4) + 0s;
        -webkit-animation-delay: (@i / 4) + 0s;
    }
    .generate-columns(@n, (@i + 1));

}