/* MAIN MEDIAQUERIES FILE */
//@media (max-width: 1680px) {
//
//}
//
//@media (max-width: 1600px) {
//
//}
//
//@media (max-width: 1440px) {
//
//}
//
@media (max-width: 1366px) {
    .main-container { padding-top: 10%; }
}
//
//@media (max-width: 1280px) {
//
//}
//
//@media (max-width: 1170px) {
//
//}
@media (max-width: 1024px) {
    .main-container { padding-top: 5%; }
}
//
///* TABLETS */
//
@media (max-width: 991px) {
    .main-container { padding-top: 30%; }
}
//
//@media (max-width: 600px) {
//
//}
@media (max-width: 480px) {
    .main-container h2 { font-size: 1.7em; }

    .main-container .divider { width: 30%; }
}

//
@media (max-width: 414px) {
    .main-container h1 { font-size: 2em; }

    .main-container h2 { font-size: 1.4em; }

    .main-container img { max-width: 60%; }

    .social-container { font-size: 1.8em; }
}

@media (max-width: 375px) {
    .main-container h2 {
        font-size: 1.2em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 320px) {
    .main-container h2 {
        font-size: 1.8em;
        line-height: 35px;
    }

    .social-container { line-height: 40px; }

    .main-container { padding-top: 10%; }
}
//
//@media (max-width: 240px) {
//
//}
