/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */

@import 'animations-delay.less';

.preloader {
    position: fixed;
    background: #bd1e18;
    background: -moz-linear-gradient(-45deg, #bd1e18 0%, #fa6964 100%);
    background: -webkit-linear-gradient(-45deg, #bd1e18 0%, #fa6964 100%);
    background: linear-gradient(135deg, #bd1e18 0%, #fa6964 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFF;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

html,
body {
    height: 100%;
}

body {
    background: #bd1e18;
    background: -moz-linear-gradient(-45deg, #bd1e18 0%, #fa6964 100%);
    background: -webkit-linear-gradient(-45deg, #bd1e18 0%, #fa6964 100%);
    background: linear-gradient(135deg, #bd1e18 0%, #fa6964 100%);
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}

.contact-button {
    position: fixed;
    top: 3%;
    left: 2%;
    color: #FFF;
    font-size: 2.5em;

    #contact-form {
        cursor: pointer;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4is ease-in-out;

    }
}

.main-container {
    color: white;
    text-align: center;
    padding-top: 20%;

    & img {
        display: inline-block;
    }

    & h1 {
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 3em;
    }

    & a {
        color: #FFF;

        &:hover {
            color: #8a0101;
        }
    }

    & h2 {
        font-weight: 100;
        letter-spacing: .5px;
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    & .divider {
        width: 10%;
        height: 2px;
        display: inline-block;
        border-top: 1px solid #FFF;
        clear: both;
        margin-bottom: 5px;
        margin-top: 15px;
    }
}

.social-container {
    font-size: 2.1em;
    font-weight: 100;
    margin-top: 10px;

    & .fa {
        padding: 0 5px;
    }

    & span {
        padding-left: 10px;
    }
}

.contact-container {
    padding-top: 2%;
    font-size: 1em;
    text-align: left;

    & label {
        font-weight: 300;
    }

    & .form-control {
        border: 0;
        border-bottom: 1px solid #FFF;
        border-radius: 0;
        background: none transparent;
        box-shadow: none;
        color: #FFF;
        font-weight: 300;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #FFF;
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #FFF;
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #FFF;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #FFF;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #FFF;
        }

    }

    & .btn-default {
        font-size: 1em;
        color: #FFF;
        background: none transparent;
        border-radius: 0;
        border: 1px solid #FFF;
        padding: 12px 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 7%;
        text-transform: uppercase;
    }
}

.contact-hidden,
.hidden {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.contact-shown,
.shown {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    visibility: visible;
    opacity: 1;
}
